
    html,body {
        height: 100%;
        margin: 0;
        background: linear-gradient(to bottom right, #C1EE9D 0%, #528f92 80%);
    }

    .item1 {
        grid-area: Howdy;
    }

    .item2 {
        grid-area: Friday;
    }

    .item3 {
        grid-area: 16;
    }

    .item4 {
        grid-area: APR;
    }

    .item5 {
        grid-area: 2019;
    }

    .item1 {
        vertical-align: text-top;
        font-size: .75rem;
        color: white;
        font-weight: bold;
    }

    .item2 {
        vertical-align: text-bottom;
        font-size: 2.25rem;
        color: white;
        font-weight: bold;
    }

    .item3 {
        vertical-align: middle;
        font-size: 6rem;
        color: white;
        font-weight: bold;
    }

    .item4 {
        vertical-align: text-bottom;
        font-size: .75rem;
        color: white;
        font-weight: bold;
    }

    .item5 {
        vertical-align: text-top;
        font-size: .75rem;
        color: white;
        font-weight: bold;
    }
   .back {
        background: linear-gradient(to bottom right, #C1EE9D 0%, #528f92 80%);
    } 

    .container {
        display: -webkit-flex;
        display: flex;
        height: 50%;
        padding: 0px;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            'Howdy Howdy'
            'Howdy Howdy'
            'Friday Friday'
            'Friday Friday'
            '16 APR'
            '16 2019';
        grid-gap: 10px;
        background-color: #198eb8;
        margin: 25% 55% 25% 25%;
    }

    .calender {
        margin: 25% 25% 25% 45%;
        padding: 0px;
        background-color:white;

    }

    .grid-container>div {
        background-color: #198eb8;
    }

    .days {
        height: 40px;
        margin: 0 5px;
        width: 40px;
        line-height: 40px;
        font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;

    }

    .container {
        /* -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1; */
        box-shadow: 10px -10px 0 rgba(0, 0, 0, 0.08);
        display: inline-block;
    }

    .container div:nth-of-type(1) {
        -webkit-flex-grow: 1;
    }

    .container div:nth-of-type(2) {
        -webkit-flex-grow: 3;
    }  
    .shade:hover {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);

    } */

     .light {
        font-weight: 200;
    } 

     .shade:active {
        box-shadow: 0 2px #666;
        transform: translateY(2px);
    }

    .nav li {

        display: inline-block;
        height: 40px;
        margin: 0 5px;
        width: 40px;
        line-height: 40px;
        font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    }