
    html,body {
        height: 100%;
        margin: 0;
        overflow:hidden;
        background: linear-gradient(to bottom right, #C1EE9D 0%,#528f92 80%);        
    }
    
    .back{
        margin: 0 auto;
    }
    .container {
        display: flex;
        height: 50%;
        width : 55%;
        padding: 0px;
        margin : 10% 0% 25% 25%;
        box-shadow: 10px -10px 0 rgba(0, 0, 0, 0.08);
        float: left;
        text-align:center;
        position: relative;
        box-sizing: border-box;
        background-position: 0% 0%;


    }         
 
            
    .grid-container {
        display: grid;
        box-sizing: border-box;
padding:25px;
        grid-template-areas:  
            'Howdy '
            'Howdy '
            'Friday'
            'Friday'
            '16 APR'
            '16 2019';
        grid-gap:20px;
        background-color: #198eb8;
        margin: 0px;
        
        display: inline-block;
        text-align:center;
        
      
    }

    .calender {
        margin: 0;
        padding: 25px;
       
        padding-top:70px;
        float: left;
        background-color:white;
        display: inline;
        box-sizing: border-box;
        display: inline-flex;
        font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
        line-height: 18.4px;
        font-size:.80rem;
        text-align: center;
        padding-right: 40px;
      padding-left:0px;

        
    }

 
    .grid-container div {
        background-color: #198eb8;
    }
  
    .container div {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 50%;
    }

    .container div:nth-of-type(1) {
        flex-grow: 1;
    }

    .container div:nth-of-type(2) {
        flex-grow: 3;
    }  
 
    .item1 {
        grid-area: Howdy;
    }

    .item2 {
        grid-area: Friday;
    }

    .item3 {
        grid-area: 16;
    }

    .item4 {
        grid-area: APR;
    }

    .item5 {
        grid-area: 2019;
    }

    .item1 {
        text-align:left;
        font-size: .75rem;
        color: white;
        font-weight: bold;
        padding:20px;
        font-weight: lighter;
        padding-top:80px;

    }

    .item2 {
        text-align: left;
        font-size: 2.25rem;
        color: white;
        font-weight: bold;
        padding:20px;
      padding-top:80px;
    }

    .item3 {
        text-align: left;
        font-size: 5rem;
        color: white;
        font-weight: bold;
        padding:20px;
        padding-top: -10px;

    }
   .item3{
    float: left;
    }
    .item-4-5{
    display: inline-block;
    justify-content:space-evenly;

    }
    .item4 {
        text-align: right;
        font-size: .75rem;
        color: white;
        padding-top:100px;
        padding:20px;
        /*float:left;*/
        /*display :inline-block;*/
        justify-content:space-evenly;
    }

    .item5 {
        text-align: right;
        font-size: .75rem;
        color: white;
        padding:20px;
        /*float:left;*/
        /*display :inline-block;*/
        justify-content:space-evenly;

    }

    .nav li {

       list-style-type : none;
        /*display: inline;*/
        height: 40px;
        margin: 0 5px;
        padding: 4px; 
        width: 30px;
        line-height: 42px;
        text-align:center;
        font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    }
 
.nav{
    display: inline-block;
    margin-left: 0px;
    /*text-align: center;*/
    /*padding-left:50px;*/
    
}
    .days{
        margin-bottom:200px; 
    }
   .shade{
    border: 0.08em solid rgba(255, 255, 255, 0.2);
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    border-radius:50%;
    float : left;
    margin:5px;
  }

  .shade:after {
    content: '';
    display: inline-block;
    margin-top: 0.6em;
    width: .4em;
    height: .4em;
    border-top: 0.07em solid rgba(255, 255, 255);
    border-right: 0.07em solid rgba(255, 255, 255);
    -webkit-transition: all .3s;
    transition: all .3s;
  
  }
  .shade:hover{
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2), 0 3px 6px 0 rgba(0,0,0,0.19);
  }
  .shade:active{
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }
  .shade.left:after{
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-left: 0.15em;
  }
  .shade.right:after{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-right: 0.15em;
  }
.flow {
    float : left;
    margin:5px;
    padding-top: 5px;
}
/*.item-4-5 {
    display: inline;
    float: right;
}*/   
.light {
    font-weight: 200;
    color: rgb(200, 200, 200);
} 

.days:hover {

    background-color: rgba(25, 142, 184, 0.75);
    border-radius: 50%;
    color: #fff;
}

.active{
    background-color: #198eb8;
    border-radius: 50%;
    color: white;
    font-weight: 700;
}